body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 375px;
  padding: 0;
  background-color: rgb(232, 230, 230);
  color: rgb(1, 0, 5);
}

/* Toolbar Styles */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  box-shadow: 0 4px 4px rgb(255, 255, 255);
  color: blue;
}

/* Headline Styles */
.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 130px 24px;
  background-image: url(/css/s.svg);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 20px;
}

.headline-content {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
  color: black;
  border: none;
  flex: 1;
  margin-bottom: 30px;
}

.primary {
  width: auto;
  height: auto;
  gap: 8px;
  color: blue;
}

.primary:hover {
  color: #f00;
}

.social-icons {
  margin-top: 10px;
}

.one {
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
}

.first {
  margin-top: 4px;
}

.work {
  display: flex;
}

.work ul {
  margin-right: 3%;
  width: 235px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.para {
  width: 295px;
  height: 76px;
  color: #344563;
  line-height: 24px;
}

.space {
  padding: 3%;
}

.list {
  display: flex;
  margin-left: 1%;
  list-style-type: none;
  width: 214px;
  height: 24px;
  gap: 10px;
}

.list li {
  display: flex;
  font-size: medium;
  text-decoration: none;
  background-color: #ebebff;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  line-height: 16px;
}

.action-button button {
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: white;
  color: #6070ff;
  border-color: #6070ff;
  padding: 2px 10px;
  font-size: 110%;
  border-radius: 10px;
  margin-top: 10px;
  width: 126px;
  height: 48px;
}

.two {
  background-color: white;
  border-radius: 15px;
}

.work-1 {
  display: flex;
}

.work-1 ul {
  margin-right: 3%;
  width: 235px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.para-1 {
  width: 295px;
  height: 76px;
  color: #344563;
  line-height: 24px;
}

.list-1 {
  display: flex;
  margin-left: 1%;
  list-style-type: none;
  width: 214px;
  height: 24px;
  gap: 10px;
}

.list-1 li {
  display: flex;
  font-size: medium;
  text-decoration: none;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  line-height: 16px;
}

.action-button-1 button {
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: white;
  color: #6070ff;
  border-color: #6070ff;
  padding: 2px 10px;
  font-size: 110%;
  border-radius: 10px;
  margin-top: 10px;
  width: 126px;
  height: 48px;
}

.three {
  background-color: white;
  border-radius: 15px;
}

.work-2 {
  display: flex;
}

.work-2 ul {
  margin-right: 3%;
  width: 235px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.para-2 {
  width: 295px;
  height: 76px;
  color: #344563;
  line-height: 24px;
}

.list-2 {
  display: flex;
  margin-left: 1%;
  list-style-type: none;
  width: 214px;
  height: 24px;
  gap: 10px;
}

.list-2 li {
  display: flex;
  font-size: medium;
  text-decoration: none;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  line-height: 16px;
}

.action-button-2 button {
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: white;
  color: #6070ff;
  border-color: #6070ff;
  padding: 2px 10px;
  font-size: 110%;
  border-radius: 10px;
  margin-top: 10px;
  width: 126px;
  height: 48px;
}

.four {
  background-color: white;
  border-radius: 15px;
 
}

.work-3 ul {
  margin-right: 3%;
  width: 235px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.para-3 {
  width: 295px;
  height: 76px;
  color: #344563;
  line-height: 24px;
}

.list-3 {
  display: flex;
  margin-left: 1%;
  list-style-type: none;
  width: 214px;
  height: 24px;
  gap: 10px;
}

.list-3 li {
  display: flex;
  font-size: medium;
  text-decoration: none;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  cursor: pointer;
  line-height: 16px;
}

.action-button-3 button {
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: white;
  color: #6070ff;
  border-color: #6070ff;
  padding: 2px 10px;
  font-size: 110%;
  border-radius: 10px;
  margin-top: 10px;
  width: 126px;
  height: 48px;
}

.five {
  background-color: white;
  border-radius: 15px;
}

.flex-container-1 {
  width: 375px;
  height: 1, 062px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 114px 24px 114px 24px;
  gap: 24px;
  top: 3506px;
}

.headline-content-1 {
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
  color: black;
  border: none;
  flex: 1;
}

.primary-1 {
  width: auto;
  height: auto;
  gap: 8px;
  color: #7f8cff;
}

.primary-1:hover {
  color: #f00;
}

.social-icons-1 {
  margin-top: 10px;
}

.resume-button button {
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: white;
  color: #3040f3;
  border-color: #6070ff;
  padding: 2px 10px;
  font-size: 90%;
  border-radius: 10px;
  margin-top: 10px;
  width: 126px;
  height: 48px;
}

.Language {
  display: flex;
  justify-content: space-between;
  gap: 45%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  box-shadow: 0 4px 4px rgb(255, 255, 255);
  color: black;
}

.lang-img {
  display: flex;
  justify-content: flex-start;
  width: 303px;
  height: 66px;
  padding: 9px 12px 9.72px 12px;
  gap: 20px;
  border-radius: 8px 0 0 0;
  background-color: #f7f7f9;
  margin-bottom: 2%;
}

.frame {
  display: flex;
  justify-content: space-between;
  gap: 40%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  color: black;
}

.skill {
  display: flex;
  justify-content: space-between;
  gap: 70%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
  color: black;
}

.line {
  width: 327px;
  height: 1px;
  top: 71px;
  color: #dfe1e6;
}

.contact{
  width: auto;
  height: 779px;
  background-color: #6070FF;
  border-radius: 100px 0px 0px 0px;
  background-image: url(contact_background_shapes.png);
  background-repeat: no-repeat;
  background-position: auto;
  margin-top: 50px;
  }
  
  .me{
    font-size: 40px;
    font-family: "inter",sans-serif;
    align-items: center;
  
  }
  .parag{
  width: 327px;
  height: 137px;
  top: 4802px;
  left: 24px;
  color: white;
  font-family: "inter",sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
  }
  
  .main{
  display: flex;
  justify-content: center;
  width: auto;
  height: 48px;
  padding-top: 100px;
  }
  
  .text{
    margin-top: 40px;
    width: 300;
    padding: 10px;
    height: 80%;
    border-radius: 8px 8px 8px 8px;
    border: 10px 0px 0px 0px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding-right: 120px;
  }
  
  .text-1{
    width: 300;
    padding: 10px;
    height: 80%;
    border-radius: 8px 8px 8px 8px;
    border: 10px 0px 0px 0px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding-right: 120px;
  }
  
  .msg{
    width: 290px;
    height: 170px;
    top: 5125px;
    left: 24px;
    border-radius: 8px 8px 8px 8px;
    margin-left: 25px;
    
  }
  
  .btn button{
    width: 142px;
    height: 48px;
    border-radius: 8px 8px 8px 8px;
    background-color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 3%;
    color: #0a0a0a;
    border-color:white;
    font-size: 110%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    padding: 12px 16px 12px 16px;
    margin-left: 22px;
  }
  

/* Responsive Styles */
@media screen and (max-width: 375px) {
  .toolbar {
    padding: 10px 16px;
  }

  .flex-container {
    flex-direction: column;
    padding: 130px 24px;
    font-size: 28px;
  }

  .headline-content {
    margin-right: 50%;
    margin-bottom: 30px;
    padding: 8px 16px;
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) {
  .toolbar {
    padding: 16px 24px;
  }

  .flex-container {
    width: 80%;
    height: 100vh;
    padding: 192px 24px;
  }

  .headline-content {
    margin-right: 40px;
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 14px;
  }

  .flex-container .headline-content h1 {
    font-size: 36px;
  }

  .flex-container .headline-content p {
    font-size: 18px;
  }
}